h1 {color:red;
font-family:verdana}
p {color: black;}
img {
    width: 500px;
}
#name {
   color: black;
}
#food {
    color: brown;
}
#born {
    color: #ff0066;
}


#game {
   color: #b32d00; 
}
#color {
    color: #e600ac;
    }
#subject{ 
    color:#ff0000;
}
#bro{
    color:red;
}
#estate{
    color:#990099; 
}

body {
    background:lightgreen;
}